# Python-Sets

In [13]:
#Sets are used to store multiple items in a single variable.
#A set is a collection which is unordered, unchangeable*, and unindexed.

In [17]:
fruit_sets = {"apple", "mango", "banana", "pear", "orange", "grapes"}
print(fruit_sets)

# Don't Allow Duplicate items
fruit_sets = {"apple", "mango", "banana", "pear", "orange", "grapes", "apple"}
print(fruit_sets)

# Sets Length:-
fruit_sets = {"apple", "mango", "banana", "pear", "orange", "grapes"}
print(len(fruit_sets))

{'mango', 'apple', 'orange', 'grapes', 'banana', 'pear'}
{'mango', 'apple', 'orange', 'grapes', 'banana', 'pear'}
6

In [19]:
# (True and 1) and (False and 0) is considered the same value:

In [23]:
mix_sets = {"anas", 2, True, 0, "Sohail", 1, False}
print(mix_sets)

{0, True, 2, 'Sohail', 'anas'}

### Set Items - Data Types

In [28]:
# String, int and boolean data types:
fruit_sets = {"apple", "mango", "banana", "orange", "apple"}
number_sets = {1, 2, 3 ,5, 6}
boolean_sets = {True, False, False, True}
print(fruit_sets)
print(number_sets)
print(boolean_sets)
print(type(number_sets))

{'mango', 'banana', 'orange', 'apple'}
{1, 2, 3, 5, 6}
{False, True}
<class 'set'>

#### The set() Constructor
##### It is also possible to use the set() constructor to make a sets.

In [37]:
fruit_sets = set(("apple", "mango", "banana", "orange", "apple"))
print(fruit_sets)

{'orange', 'mango', 'apple', 'banana'}

In [41]:
# Don't Access by Index but its possible using for Loop
fruit_sets = set(("apple", "mango", "banana", "orange"))
for x in fruit_sets:
    print(x)

orange
mango
apple
banana

In [59]:
fruit_sets = set(("apple", "mango", "banana", "orange"))
if "apple" in fruit_sets:
    print("ok")
if "apple" not in fruit_sets:
    print("Not ok")
print("apple" in fruit_sets)
print("apple" not in fruit_sets)

ok
True
False

### Python - Add Set Items

##### Add Items
###### Once a set is created, you cannot change its items, but you can add new items.

In [63]:
# Add an item to a set, using the add() method:
fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_sets.add("pear")
print(fruit_sets)

{'banana', 'mango', 'apple', 'orange', 'pear'}

In [65]:
# To add items from another set into the current set, use the update() method.
fruit_sets = set(("apple", "mango", "banana", "orange"))
veg_sets = set(("tomato", "potato", "onion"))
fruit_sets.update(veg_sets)
print(fruit_sets)

{'onion', 'mango', 'apple', 'orange', 'tomato', 'banana', 'potato'}

In [67]:
# Add elements of a list to at set:
fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_list = list(("pear", "cherry"))
fruit_sets.update(fruit_list)
print(fruit_sets)

{'banana', 'mango', 'apple', 'orange', 'cherry', 'pear'}

### Python - Remove Set Items

In [86]:
# To remove an item in a set, use the remove(), or the discard() method.
fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_sets.remove("apple")
print(fruit_sets)

fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_sets.discard("")
print(fruit_sets)

{'orange', 'mango', 'banana'}
{'orange', 'mango', 'apple', 'banana'}

In [106]:
# Remove a random item by using the pop() method:
# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_sets.pop()
print(fruit_sets)

{'mango', 'apple', 'banana'}

In [108]:
# The clear() method empties the set:
fruit_sets = set(("apple", "mango", "banana", "orange"))
fruit_sets.clear()
print(fruit_sets)

set()

In [114]:
fruit_sets = set(("apple", "mango", "banana", "orange"))
del fruit_sets
# print(fruit_sets)

In [116]:
fruit_sets = set(("apple", "mango", "banana", "orange"))
for x in fruit_sets:
    print(x)

orange
mango
apple
banana

### Python - Join Sets

###### There are several ways to join two or more sets in Python.

###### The union() and update() methods joins all items from both sets.

###### The intersection() method keeps ONLY the duplicates.

###### The difference() method keeps the items from the first set that are not in the other set(s).

###### The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [129]:
# Union 
# The union() method returns a new set with all items from both sets.
fruit_sets = set(("apple", "mango", "banana", "orange"))
veg_sets = set(("tomato", "potato", "onion"))
fruit_sets = fruit_sets.union(veg_sets)
print(fruit_sets)


# # You can use the | operator instead of the union() method, and you will get the same result.
fruit_sets = set(("apple", "mango", "banana", "orange"))
veg_sets = set(("tomato", "potato", "onion"))
fruit_sets = fruit_sets|veg_sets
print(fruit_sets)

{'onion', 'mango', 'apple', 'orange', 'tomato', 'banana', 'potato'}
{'onion', 'mango', 'apple', 'orange', 'tomato', 'banana', 'potato'}

#### Join Multiple Sets

In [134]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'John', 'a', 'bananas', 'apple', 'cherry', 'c', 'Elena', 'b'}
{1, 2, 3, 'John', 'a', 'bananas', 'apple', 'cherry', 'c', 'Elena', 'b'}

#### Join a Set and a Tuple

In [137]:
set1 = {"a", "b", "c"}
set2 = (1, 2, 3)
set1 = set1.union(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

#### Join a Set and a List

In [143]:
set1 = {"a", "b", "c"}
set2 = [1, 2, 3]
set1 = set1.union(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

#### Join set, tuple and List

In [146]:
set1 = {"a", "b", "c"}
set2 = (1, 2, 3)
set3 = ["John", "Elena"]
myset = set1.union(set2, set3)
print(myset)

{1, 2, 3, 'John', 'b', 'c', 'Elena', 'a'}

#### Update
###### The update() method inserts all items from one set into another.
###### The update() changes the original set, and does not return a new set.

In [156]:
set1 = {"a", "b", "c", "a"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

#### Intersection
##### Keep ONLY the duplicates

In [166]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
set3 = {"c", "f"}
myset = set1.intersection(set2, set3)
print(myset)


# You can use the & operator instead of the intersection() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
set3 = {"c", "f"}
myset = set1 & set2 & set3
print(myset)

{'c'}
{'c'}

In [172]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"a", "b", "c", True, 0}
set2 = {"a", "c", "e", False, 0, 1}
set3 = {"c", "f", True , 0, 1}
set1.intersection_update(set2, set3)
print(set1)

{0, 'c', True}

#### Difference

In [180]:
# The difference() method will return a new set that will contain only the items from the first set
# that are not present in the other set.
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
set3 = {"c", "f"}
myset = set1.difference(set2, set3)
print(myset)

# You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
set3 = {"c", "f"}
myset = set1 - set2 - set3
print(myset)

{'b'}
{'b'}

In [199]:
# The difference_update() method will also keep the items from the first set that are not in the other set,
# but it will change the original set instead of returning a new set.
set1 = {"a", "b", "c", True, 0}
set2 = {"a", "c", "e", False, 0 }
set3 = {"c", "f" , 0, }
set1.difference_update(set2, set3)
print(set1)

{True, 'b'}

#### Symmetric Differences
###### The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [195]:
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
myset = set1.symmetric_difference(set2)
print(myset)

# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"a", "b", "c"}
set2 = {"a", "c", "e"}
myset = set1 ^ set2
print(myset)

{'b', 'e'}
{'b', 'e'}

In [197]:
# The symmetric_difference_update() method will also keep all but the duplicates,
# but it will change the original set instead of returning a new set.
set1 = {"a", "b", "c", True, 0}
set2 = {"a", "c", "e", False, 0 }
set1.symmetric_difference_update(set2)
print(set1)

{True, 'e', 'b'}

In [2]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [31]:
# Adds an element to the set
number_set1 = {1, 2, 3, "one","two","three"}
number_set2 = {4, 5, 6, "four", "five", "six"}
number_set1.add(4)
print(number_set1)

# Removes all the elements from the set
number_set1 = {1, 2, 3, "one","two","three"}
number_set2 = {4, 5, 6, "four", "five", "six"}
number_set1.clear()
print(number_set1)

# Returns a copy of the set
number_set1 = {1, 2, 3, "one","two","three"}
number_set2 = {4, 5, 6, "four", "five", "six"}
number_set2 = number_set1.copy()
print(number_set2)

# Returns a set containing the difference between two or more sets
number_set1 = {1, 2, 3, "one","two","three", 4}
number_set2 = {4, 5, 6, "four", "five", "six", 3}
difference_set = number_set1.difference(number_set2)
print(difference_set)

# Removes the items in this set that are also included in another, specified set
number_set1 = {1, 2, 3, "one","two","three", 4}
number_set2 = {4, 5, 6, "four", "five", "six", 3}
number_set1.difference_update(number_set2)
print(number_set1)

# Remove the specified item
number_set1 = {1, 2, 3, "one","two","three", 4}
number_set2 = {4, 5, 6, "four", "five", "six", 3}
number_set1.discard(2)
print(number_set1)

# Returns a set, that is the intersection of two other sets
number_set1 = {1, 2, 3, "one","two","three", 4, 5}
number_set2 = {4, 5, 6, "four", "five", "six", 3}
difference_set = number_set1.intersection(number_set2)
print(difference_set)

# Removes the items in this set that are not present in other, specified set(s)
number_set1 = {1, 2, 3, "one","two","three", 4, 5}
number_set2 = {4, 5, 6, "four", "five", "six", 3}
number_set1.intersection_update(number_set2)
print(number_set1)

{1, 2, 'one', 3, 'two', 4, 'three'}
set()
{1, 2, 'one', 3, 'two', 'three'}
{1, 'one', 2, 'two', 'three'}
{1, 2, 'one', 'two', 'three'}
{1, 'one', 3, 'two', 4, 'three'}
{3, 4, 5}
{3, 4, 5}
{1, 2, 'one', 3, 'two', 4, 5, 'three'}

In [49]:
# Returns whether two sets have a intersection or not
number_set1 = {1, 2, 3, "one","two","three"}
number_set2 = {4, 5, 6, "four", "five", "six"}
number_set1.isdisjoint(number_set2)
difference_set = number_set1.isdisjoint(number_set2)
print(difference_set)


# Returns whether another set contains this set or not
number_set1 = {1, 2, 3, "one","two","three"}
number_set2 = {4, 5, 6, "four", "five", "six", 1, 2, 3, "one","two","three"}
difference_set = number_set1.issubset(number_set2)
print(difference_set)

number_set1 = {1, 2, 3, "one","two","three", 4, 5, 6, "four", "five", "six"}
number_set2 = {4, 5, 6, "four", "five", "six"}
difference_set = number_set1.issuperset(number_set2)
print(difference_set)

True
True
True