# Strings In Python

## Quotes Inside Quotes

### *You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [6]:
print("My name is 'Anas Sohail'")

My name is 'Anas Sohail'

In [8]:
print('I am "25" years old')

I am "25" years old

## Assign String to VAriable

In [13]:
x = "Anas Sohail"
print(x)

Anas Sohail

"""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

## Strings are Arrays

In [36]:
x = "Anas Sohail"
print(x[1])
print(x[2])
print(x[3])

n
a
s

## String Length

#### Use len() Function

In [40]:
x = "Anas Sohail"
print(len(x))

11

## Check String

#### To check if a certain phrase or character is present in a string, we can use the keyword in.

In [52]:
x = "Anas Sohail"
print("Anas" in x)
print("ans" in x)

True
False

In [54]:
x = "Anas Sohail"
print("Anas" not in x)
print("ans" not in x)

False
True

## Slicing the Strings

###### You can return a range of characters by using the slice syntax.
###### Specify the start index and the end index, separated by a colon, to return a part of the string.

In [72]:
x = "Anas Sohail"
print(x[0:4])
print(x[5:11])

Anas
Sohail

#### Slice From the Start

In [103]:
x = "Anas Sohail"
print(x[:4])
print(x[:-8])

Anas
Ana

#### Slice from the End

In [99]:
x = "Anas Sohail"
print(x[5:])
print(x[-6:])

Sohail
Sohail

##### Upper Case And Lower Case

In [109]:
x = "Anas Sohail"
print(x.upper())
print(x.lower())

ANAS SOHAIL
anas sohail

##### Remove White Spaces using strip()

In [112]:
x = " ' Anas Sohail ' "
print(x.strip())

' Anas Sohail '

##### Replace string using replace()

In [118]:
x = "AnaS Sohail"
print(x.replace("S","s"))

Anas sohail

##### String Concatenation

In [125]:
a = "Anas"
b = "Sohail"
print(a + b)
print(a + " " + b)

AnasSohail
Anas Sohail

##### Concatenate string & number Using F-String & Placeholder {}

In [138]:
a = f"Anas"
b = 1
c = f"Anas's roll no. is {b}"
print(a, b)
print(c)

Anas 1
Anas's roll no. is 1

In [141]:
a = 10
b = 23
c = f"Sum of a & b is {a * b}"
print(c)

Sum of a & b is 230

##### Escape Character

In [148]:
x = "\"Anas\" Sohail"
print(x)

"Anas" Sohail

"""
Code
Result	Try it
\'	    Single Quote	
\\	    Backslash	
\n	    New Line	
\r	    Carriage Return	
\t	    Tab	
\b	    Backspace	
\f	    Form Feed	
\ooo	Octal value	
\xhh	Hex value
"""

#### String Methods

In [156]:
x = "Anas Sohail"
print(x.capitalize())

Anas sohail

In [160]:
x = "AnAS Sohail"
print(x.casefold())

anas sohail

In [176]:
x = "Anas Sohail"
print(x.center(20,"*"))

****Anas Sohail*****

In [194]:
x = "My name is Anas Sohail, my father name is Muhammad Sohail"
print(x.count("Anas",7))
print(x.count("Anas",12))
print(x.count("Sohail",17))
print(x.count("Sohail",12))
print(x.count("Sohail",12,25))

1
0
1
2
1

# Boolean In Python

###### The bool() function allows you to evaluate any value, and give you True or False in return,

In [199]:
x = "Anas"
y = 15

print(bool(x))
print(bool(y))

True
True

#### Most Values are True

###### Any string is True, except empty strings.
###### Any number is True, except 0.
###### Any list, tuple, set, and dictionary are True, except empty ones.

In [233]:
print(bool("Anas"))
print(bool(100))
print(bool(["Apple", "Mango","Banana"]))

True
True
True

#### Some Values are False

###### In fact, there are not many values that evaluate to False,
###### except empty values, such as (), [], {}, "", 
###### the number 0, and the value None. And of course the value False evaluates to False.

In [251]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [3]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
str = "my name is anas sohail"
print(str.capitalize())

str = "My Name is anas sohail"
print(str.casefold())

str = "My Name is anas sohail"
print(str.center(40))

str = "My Name is anas sohail"
print(str.count("is"))

str = "My Name is anas sohail"
print(str.encode())

str = "My Name is anas sohail"
print(str.endswith("il"))

str = "My Name is anas sohail"
print(str.endswith("anas"))

str = "My \tName \tis \tanas \tsohail"
print(str.expandtabs(5))

str = "My Name is anas sohail"
print(str.find("anas"))

str = "My Name is anas sohail"
print(str.find("xm "))

My name is anas sohail
my name is anas sohail
         My Name is anas sohail
1
b'My Name is anas sohail'
True
False
My   Name      is   anas      sohail
11
-1

In [80]:
str = "My Name is {name} Sohail, I am {age} years old"
print(str.format(name = "Anas", age = 25))


data = {"name" : "Anas", "age" : 25}
str = "My name is {name} Sohail, I am {age} years old"
print(str.format_map(data))

str = "My Name is anas sohail"
print(str.index("anas", 3, 20))




#isascii','isdecimal','isdigit','isidentifier','islower','isnumeric','isprintable','isspace','istitle','isupper',


str = "MyNameisAnasSohail1"
print(str.isalnum())
print(str.isalpha())
print(str.isascii())
print(str.isupper())

My Name is Anas Sohail, I am 25 years old
My name is Anas Sohail, I am 25 years old
11
True
False
True
False

In [88]:
x = ['apple', 'banana', 'apple', 'banana'] 
print(x[::-1])

['banana', 'apple', 'banana', 'apple']

###